<template>
  <div>
    <h3>图书问答</h3>
  </div>
</template>

<script>
export default {
  name: 'BookQA',
  props: [''],
  data() {
    return {}
  },

  components: {},

  computed: {},

  methods: {},

  watch: {}
}
</script>
<style scoped></style>
